@charset "UTF-8";
/* line 2, ../compass/sass/style.scss */
#page-loader {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 99999;
}
/* line 10, ../compass/sass/style.scss */
#page-loader .page-loader-gif {
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
  background: url("../img/balls.gif") no-repeat;
}

/* line 24, ../compass/sass/style.scss */
.demo-1 .large-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/city-night.jpg") no-repeat top center fixed;
  background-size: cover;
  height: 600px;
}
/* line 32, ../compass/sass/style.scss */
.demo-1 .large-header .main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  font-size: 7.2em;
  letter-spacing: 0.1em;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
/* line 45, ../compass/sass/style.scss */
.demo-1 .large-header .main-title .thin {
  font-weight: 200;
}
/* line 49, ../compass/sass/style.scss */
.demo-1 .large-header .sub-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  font-size: 3.2em;
  letter-spacing: 0.1em;
  margin-top: 7%;
}

@media only screen and (max-width: 768px) {
  /* line 67, ../compass/sass/style.scss */
  .demo-1 .main-title {
    font-size: 3em;
  }
}
/* line 74, ../compass/sass/style.scss */
#main-nav {
  background: transparent;
  color: #fff;
  box-shadow: 0 0 0px transparent;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
  outline: none;
}
/* line 81, ../compass/sass/style.scss */
#main-nav .navbar-toggle {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0;
}
/* line 85, ../compass/sass/style.scss */
#main-nav .icon-bar {
  background: #fff;
}
/* line 88, ../compass/sass/style.scss */
#main-nav .container {
  padding: 30px 20px;
  -webkit-transition: padding 0.5s ease-out;
  transition: padding 0.5s ease-out;
}
/* line 93, ../compass/sass/style.scss */
#main-nav .nav a,
#main-nav #main-nav .nav a:active,
#main-nav #main-nav .nav a:hover {
  padding: 0px 10px;
  font-size: 18px;
  line-height: 54px;
  font-weight: 400;
  background: transparent;
  color: #fff;
}
/* line 103, ../compass/sass/style.scss */
#main-nav li {
  background: transparent;
  margin: 0 10px;
  border: 2px solid transparent;
  outline: none;
}
/* line 109, ../compass/sass/style.scss */
#main-nav .dropdown-menu a {
  font-size: 14px;
}
/* line 112, ../compass/sass/style.scss */
#main-nav .nav a {
  position: relative;
}
/* line 115, ../compass/sass/style.scss */
#main-nav .nav a:before {
  position: absolute;
  bottom: -5px;
  left: 50%;
  color: transparent;
  content: '•';
  text-shadow: 0 0 transparent;
  font-size: 16px;
  line-height: 21px;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
/* line 132, ../compass/sass/style.scss */
#main-nav .nav a:hover:before,
#main-nav .nav li.active a:before {
  color: #fff;
  text-shadow: 12px 0 #fff, -12px 0 #fff;
}

/* line 140, ../compass/sass/style.scss */
#main-nav.scrolled {
  background: #fff;
  border-bottom: 1px solid #ddd;
  outline: none;
}
/* line 144, ../compass/sass/style.scss */
#main-nav.scrolled .navbar-brand {
  color: #637187;
}
/* line 147, ../compass/sass/style.scss */
#main-nav.scrolled .navbar-toggle {
  color: #637187;
  border-color: #637187;
}
/* line 150, ../compass/sass/style.scss */
#main-nav.scrolled .navbar-toggle .icon-bar {
  background: #637187;
}
/* line 153, ../compass/sass/style.scss */
#main-nav.scrolled .navbar-toggle .container {
  padding: 0px 10px;
}
/* line 157, ../compass/sass/style.scss */
#main-nav.scrolled .nav a,
#main-nav.scrolled .nav a:active,
#main-nav.scrolled .nav a:hover {
  color: #637187;
  /*border: none;*/
  outline: none;
}
/* line 164, ../compass/sass/style.scss */
#main-nav.scrolled .nav a:hover:before,
#main-nav.scrolled .nav li.active a:before {
  color: #637187;
  text-shadow: 12px 0 #8aaad9, -12px 0 #8aaad9;
}

/* line 171, ../compass/sass/style.scss */
.no-textshadow #main-nav .nav a:before {
  content: '• • •';
}

/* line 175, ../compass/sass/style.scss */
.no-csstransforms #main-nav .nav a:before {
  margin-left: -15px;
}

/* line 180, ../compass/sass/style.scss */
#about {
  background: white;
  color: black;
  padding: 80px 0;
}
/* line 184, ../compass/sass/style.scss */
#about h1 {
  color: black;
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  margin-bottom: 24px;
  position: relative;
}
/* line 192, ../compass/sass/style.scss */
#about p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 20px;
}
/* line 198, ../compass/sass/style.scss */
#about a {
  color: #337ab7;
}
/* line 201, ../compass/sass/style.scss */
#about a:hover {
  text-decoration: underline;
}
/* line 204, ../compass/sass/style.scss */
#about .btn-theme.transparent {
  font-size: 18px;
  text-decoration: none;
  border: 1px solid;
}
/* line 209, ../compass/sass/style.scss */
#about .btn-theme.transparent:hover {
  background-color: #337ab7;
  color: white;
}
/* line 213, ../compass/sass/style.scss */
#about img {
  box-shadow: 12px 0px 0px 12px rgba(182, 189, 201, 0.3), -12px 0px 0px 12px rgba(182, 189, 201, 0.3);
}
/* line 217, ../compass/sass/style.scss */
#about #header-social {
  font-size: 18px;
  margin-top: 20px;
}
/* line 221, ../compass/sass/style.scss */
#about .fa-linkedin-square {
  color: #0077b5;
}
/* line 224, ../compass/sass/style.scss */
#about #github-about {
  color: #637187;
}

/* line 231, ../compass/sass/style.scss */
#skills {
  padding-top: 80px;
  color: #637187;
  background: #f5f5f5;
}
/* line 235, ../compass/sass/style.scss */
#skills .chart {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 170px;
  margin-bottom: 50px;
  text-align: center;
}
/* line 242, ../compass/sass/style.scss */
#skills .chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 248, ../compass/sass/style.scss */
#skills .percent {
  display: inline-block;
  line-height: 170px;
  font-size: 50px;
  font-weight: 300;
  z-index: 2;
}
/* line 255, ../compass/sass/style.scss */
#skills .percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: 40px;
}
/* line 260, ../compass/sass/style.scss */
#skills .skills h2 {
  margin: 0 0 80px;
  color: #637187;
  font-size: 24px;
  font-weight: 300;
}

/* line 269, ../compass/sass/style.scss */
#portfolio {
  background: white;
}
/* line 272, ../compass/sass/style.scss */
#portfolio #portfolio-header {
  padding: 80px 0;
  border-top: 1px solid #ddd;
  /*border-bottom:1px solid #ddd;*/
  font-size: 25px;
  font-weight: 300;
}
/* line 278, ../compass/sass/style.scss */
#portfolio #portfolio-header .section-title {
  font-weight: 300;
  margin-bottom: 60px;
}
/* line 282, ../compass/sass/style.scss */
#portfolio #portfolio-header #filter-works ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 286, ../compass/sass/style.scss */
#portfolio #portfolio-header #filter-works ul li {
  display: inline-block;
  padding: 0;
  line-height: 24px;
  background: transparent;
  margin: 0 0 0 10px;
}
/* line 292, ../compass/sass/style.scss */
#portfolio #portfolio-header #filter-works ul li a,
#portfolio #portfolio-header #filter-works ul li a:active,
#portfolio #portfolio-header #filter-works ul li a:hover {
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  background: transparent;
  color: #6a6a6a;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 305, ../compass/sass/style.scss */
#portfolio #portfolio-header #filter-works ul li:hover a,
#portfolio #portfolio-header #filter-works ul li.active a {
  color: #8aaad9;
}
/* line 309, ../compass/sass/style.scss */
#portfolio #portfolio-header #filter-works ul li:after {
  content: "/";
  margin-left: 10px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #6a6a6a;
}
/* line 317, ../compass/sass/style.scss */
#portfolio #portfolio-header #filter-works ul li:last-child:after {
  display: none;
}
/* line 322, ../compass/sass/style.scss */
#portfolio .masonry-wrapper {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
/* line 326, ../compass/sass/style.scss */
#portfolio .masonry-wrapper #projects-container {
  margin: 0 auto;
  visibility: hidden;
  height: 690px;
  width: 1050px;
}
/* line 331, ../compass/sass/style.scss */
#portfolio .masonry-wrapper #projects-container .project-item {
  display: block;
  position: relative;
  margin: 0;
  width: 350px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
  overflow: hidden;
}
/* line 343, ../compass/sass/style.scss */
#portfolio .masonry-wrapper #projects-container .project-item img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
/* line 351, ../compass/sass/style.scss */
#portfolio .masonry-wrapper #projects-container .project-item .hover-mask {
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #8aaad9;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 363, ../compass/sass/style.scss */
#portfolio .masonry-wrapper #projects-container .project-item .hover-mask .project-title {
  color: #fff;
  margin: 0;
  padding: 16px;
  font-size: 21px;
  line-height: 24px;
  font-weight: 300;
}
/* line 371, ../compass/sass/style.scss */
#portfolio .masonry-wrapper #projects-container .project-item .hover-mask p {
  color: #fff;
  margin: 0;
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 386, ../compass/sass/style.scss */
#portfolio .masonry-wrapper #projects-container .project-item .hover-mask:hover p {
  bottom: 20px;
  right: 20px;
}
/* line 390, ../compass/sass/style.scss */
#portfolio .masonry-wrapper #projects-container .project-item .hover-mask:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  border: 0px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: border 0.3s ease-out;
  transition: border 0.3s ease-out;
}
/* line 402, ../compass/sass/style.scss */
#portfolio .masonry-wrapper #projects-container .project-item .hover-mask:hover:after {
  border-width: 20px;
}
/* line 406, ../compass/sass/style.scss */
#portfolio .masonry-wrapper #projects-container .project-item.filtered {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 414, ../compass/sass/style.scss */
#portfolio .masonry-wrapper #projects-container .project-item:hover img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
/* line 420, ../compass/sass/style.scss */
#portfolio .masonry-wrapper #projects-container .project-item:hover .hover-mask {
  opacity: 1;
  filter: alpha(opacity=100);
  padding: 20px;
}

/* line 431, ../compass/sass/style.scss */
.no-csstransitions .project-item:hover .hover-mask {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 437, ../compass/sass/style.scss */
.no-opacity .project-item .hover-mask p {
  visibility: hidden;
}
/* line 440, ../compass/sass/style.scss */
.no-opacity .project-item .hover-mask:hover p {
  visibility: visible;
}

/* line 445, ../compass/sass/style.scss */
.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
/* line 451, ../compass/sass/style.scss */
.masonry .masonry-brick {
  -webkit-transition-property: left, right, top, -webkit-transform, opacity;
  -moz-transition-property: left, right, top, -moz-transform, opacity;
  -ms-transition-property: left, right, top, -ms-transform, opacity;
  -o-transition-property: left, right, top, -o-transform, opacity;
  transition-property: left, right, top, transform, opacity;
}

/* line 460, ../compass/sass/style.scss */
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

/* line 472, ../compass/sass/style.scss */
#contact {
  background: transparent;
  color: #fff;
}
/* line 475, ../compass/sass/style.scss */
#contact .contact-text {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/tokyo-night.gif") no-repeat top center fixed;
  background-size: cover;
  height: 800px;
  width: 100%;
  margin: 0;
}
/* line 481, ../compass/sass/style.scss */
#contact .contact-text .section-title {
  color: #fff;
  margin-bottom: 84px;
  font-size: 5.2em;
  margin-top: 100px;
}
/* line 487, ../compass/sass/style.scss */
#contact .contact-text .section-title .contact-info p, #contact .contact-text .section-title .contact-info address {
  margin: 0 0 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}
/* line 493, ../compass/sass/style.scss */
#contact .contact-text .section-title .contact-info .socials {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
/* line 497, ../compass/sass/style.scss */
#contact .contact-text .section-title .contact-info .socials li {
  display: inline-block;
  margin: 0 15px 15px 0;
}
/* line 500, ../compass/sass/style.scss */
#contact .contact-text .section-title .contact-info .socials li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #fff;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
/* line 514, ../compass/sass/style.scss */
#contact .contact-text .section-title .contact-info .socials li a:hover {
  padding: 0;
  color: #8aaad9;
  text-decoration: none;
}
/* line 523, ../compass/sass/style.scss */
#contact .contact-text .section-title #contact-form .error-message {
  background: #8aaad9;
  padding: 10px 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 16px;
  font-weight: 400;
}
/* line 532, ../compass/sass/style.scss */
#contact .contact-text .section-title #contact-form textarea.form-control {
  height: auto;
  max-width: 100%;
  min-width: 100%;
  font-size: 30px;
  line-height: 42px;
  padding-top: 14px;
}
/* line 540, ../compass/sass/style.scss */
#contact .contact-text .section-title #contact-form .form-control:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
/* line 545, ../compass/sass/style.scss */
#contact .contact-text .section-title #contact-form .form-group {
  position: relative;
}
/* line 547, ../compass/sass/style.scss */
#contact .contact-text .section-title #contact-form .form-group label {
  display: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 554, ../compass/sass/style.scss */
#contact .contact-text .section-title #contact-form .form-group .form-control {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 1px;
  outline: none;
  box-shadow: none;
  margin-bottom: 30px;
  height: 68px;
  font-size: 30px;
  line-height: 48px;
  font-weight: 300;
  color: #637187;
  padding-left: 64px;
}
/* line 571, ../compass/sass/style.scss */
#contact .contact-text .section-title #contact-form .form-group [class*="fa-"] {
  display: block;
  width: 64px;
  position: absolute;
  top: 0;
  left: 5px;
  color: #637187;
  font-size: 32px;
  line-height: 68px;
  text-align: center;
  font-weight: 300;
}
/* line 585, ../compass/sass/style.scss */
#contact .contact-text .section-title [class*=fa] {
  color: #8aaad9;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* line 596, ../compass/sass/style.scss */
#contact-form.no-placeholder .form-group [class*="fa-"] {
  top: 30px;
}

/* line 599, ../compass/sass/style.scss */
#contact-form .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #637187;
}

/* line 602, ../compass/sass/style.scss */
#contact-form .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #637187;
  opacity: 1;
}

/* line 606, ../compass/sass/style.scss */
#contact-form .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #637187;
  opacity: 1;
}

/* line 610, ../compass/sass/style.scss */
#contact-form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #637187;
}

/* line 615, ../compass/sass/style.scss */
#main-footer {
  background: #f5f5f5;
  color: #637187;
  padding: 30px 0;
}
/* line 619, ../compass/sass/style.scss */
#main-footer .small-logo {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: #637187;
}
/* line 627, ../compass/sass/style.scss */
#main-footer .small-logo span {
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  text-transform: none;
}
/* line 635, ../compass/sass/style.scss */
#main-footer ul.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}
/* line 640, ../compass/sass/style.scss */
#main-footer ul.footer-nav li {
  display: inline-block;
  padding: 0 15px;
  line-height: 24px;
  border-right: 1px solid #637187;
}
/* line 645, ../compass/sass/style.scss */
#main-footer ul.footer-nav li a {
  color: #637187;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding: 0;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
/* line 657, ../compass/sass/style.scss */
#main-footer ul.footer-nav li a:hover,
#main-footer ul.footer-nav li a:active {
  color: #9fb8e0;
  text-decoration: none;
}
/* line 663, ../compass/sass/style.scss */
#main-footer ul.footer-nav li:first-child {
  padding-left: 0;
}
/* line 666, ../compass/sass/style.scss */
#main-footer ul.footer-nav li:last-child {
  border-right: none;
}
/* line 670, ../compass/sass/style.scss */
#main-footer p {
  color: #637187;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
/* line 676, ../compass/sass/style.scss */
#main-footer .right-col {
  text-align: right;
}
/* line 678, ../compass/sass/style.scss */
#main-footer .right-col h2 {
  text-transform: none;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 24px;
}
/* line 684, ../compass/sass/style.scss */
#main-footer .right-col p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
}

/* line 693, ../compass/sass/style.scss */
.scrollimation.fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

/* line 699, ../compass/sass/style.scss */
.scrollimation.fade-in.in {
  opacity: 1;
}

/* line 703, ../compass/sass/style.scss */
.scrollimation.scale-in {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.17, 0.89, 0.67, 1.57), opacity 0.6s ease-out;
  transition: transform 0.6s cubic-bezier(0.17, 0.89, 0.67, 1.57), opacity 0.6s ease-out;
}

/* line 713, ../compass/sass/style.scss */
.scrollimation.scale-in.in {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* line 721, ../compass/sass/style.scss */
.scrollimation.fade-right {
  opacity: 0;
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  transform: translateX(-30px);
  -webkit-transition: -webkit-transform .6s ease-in,opacity .8s ease-in;
  transition: transform .6s ease-in,opacity .8s ease-in;
}

/* line 731, ../compass/sass/style.scss */
.scrollimation.fade-right.in {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

/* line 739, ../compass/sass/style.scss */
.scrollimation.fade-left {
  opacity: 0;
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: -webkit-transform .6s ease-in,opacity .8s ease-in;
  transition: transform .6s ease-in,opacity .8s ease-in;
}

/* line 749, ../compass/sass/style.scss */
.scrollimation.fade-left.in {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

/* line 757, ../compass/sass/style.scss */
.scrollimation.fade-up {
  opacity: 0;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: -webkit-transform .6s ease-in,opacity .8s ease-in;
  transition: transform .5s ease-in,opacity .8s ease-in;
}

/* line 767, ../compass/sass/style.scss */
.scrollimation.fade-up.in {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 775, ../compass/sass/style.scss */
.touch .scrollimation.fade-in {
  opacity: 1;
}

/* line 779, ../compass/sass/style.scss */
.touch .scrollimation.scale-in {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* line 787, ../compass/sass/style.scss */
.touch .scrollimation.fade-right {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

/* line 795, ../compass/sass/style.scss */
.touch .scrollimation.fade-left {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

/* line 803, ../compass/sass/style.scss */
.touch .scrollimation.fade-up {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
